@charset "utf-8";
*{margin:0; padding:0; box-sizing: border-box;}
body{font-family: Arial, sans-serif; color:#222328; background-color: #fff;}
a{color:#222328; text-decoration: none;}
li{list-style: none;}
.ir-so{font-size:0; width:0; height:0; overflow:hidden; line-height: 0; text-indent: -99999em;}

#skip{position:absolute; font-size: 0; width: 100%; height: auto; z-index: 9999; text-align: center;}
#skip ul li{width: 100%; height: auto; font-size: 0;}
#skip ul li a{display: block; padding: 0; font-size: 0; color:#fff; background-color: #000;}
#skip ul li a:focus{padding: 10px; font-size: 16px;}

#wrap{width:1024px; height:850px; background-color: #fff; margin:0 auto; overflow: hidden;}
#header{width:200px; height:850px; float:left; background-color: rgb(248, 167, 167);}
#banner{width:824px; height:300px; float:left; background-color: rgb(229, 240, 128);}
#content{width:824px; height:250px; float:left; background-color: rgb(107, 211, 252);}
#shortcut{width:824px; height:200px; float:left; background-color: rgb(86, 125, 255);}
#footer{width:824px; height:100px; float:left; background-color: rgb(255, 100, 255);}


#header h1{}
#header h1 a{}
#header h1 a img{}

#header #nav{text-align: center;}
#header #nav>ul{width:180px; margin:0 auto;}
#header #nav>ul>li{border-bottom: 1px solid #fff;}
#header #nav>ul>li>a{display:block; padding:20px 0; background-color: darkred; transition:.4s;}
#header #nav>ul>li:hover>a{background-color: darksalmon; color:#fff;}
#header #nav>ul>li ul{display:none;}
#header #nav>ul>li ul li{border-bottom:1px solid #222328;}
#header #nav>ul>li ul li a{display:block; background-color: darkseagreen; color:#000; padding:10px 0; transition: .4s;}


/* 슬라이드 */
#banner ul{position:relative; top:0; left:0; width:100%; height:100%; overflow:hidden;}
#banner ul li{position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;}
#banner ul li:first-child{opacity:1;}
#banner ul li a{}
#banner ul li a img{}